.hybrid-learn{
    position: relative;
    height: 100svh;
    background-color: #071F4D;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* align-items: center; */
    padding-top: 48px;
    padding-bottom: 64px;
    /* border: 1px solid wheat; */
}

.hybrid-learn-left{
    flex: 1;
    /* height: 400px; */
    /* border: 1px solid white; */
    display: flex;
    justify-content: right;
}

.hybrid-learn-right{
    flex: 1;
    /* height: 500px; */
    /* border: 1px solid white; */
    display: flex;
    justify-content: right;
    position: relative;
}
.hybrid-hand-container{
    position: absolute;
    right: 0;
    height:auto;
    width:100%;
    /* border: 1px solid wheat; */
}
.hybrid-hand-img{
    height: 100%;
    width: 100%;
}

.hybrid-learn-left-container{
    /* border: 1px solid white; */
    width: max-content;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.hybrid-learn-title{
    font-size: 48px;
    font-weight: 700;
}

.hybrid-learn-text{
    margin-top: 48px;
    font-size: 24px;
    font-weight: 400px;
    line-height: 30px;
}

.hybrid-learn-star-container{
    position: absolute;
    bottom: 0px;
    left: 75px;
    height: 208px;
    width: 147px;
}
.hybrid-learn-star{
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 600px){
    .hybrid-learn{
        height: max-content;
        flex-direction:column;
        align-items: left;
        justify-content: left;
        border: 1px solid white;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .hybrid-learn-left{
        flex:0;
        justify-content: left;
        border: 1px solid white;
    }

    .hybrid-learn-left-container{
        border: 1px solid white;
        margin-inline: 12px;
    }
    .hybrid-learn-title{
        font-size: 28px;
        font-weight: 700;
    }
    .hybrid-learn-text{
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    .hybrid-learn-right{
        flex: 0;
        border: 1px solid blueviolet;
    }
    .hybrid-hand-container{
        position: relative;
    }
    .hybrid-learn-star-container{
        display: none;
    }
}
