.adaptive-learn{
    position: relative;
    height:150svh;
    background-color: #071F4D;
    padding-block: 72px;
    overflow: hidden;
}

.adaptive-learn-main{
    position: absolute;
    width: max-content;
    right: 50px;
    top: 150px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.adaptive-learn-title{
    font-size: 48px;
    font-weight: 700;
}
.adaptive-learn-text{
    margin-top: 48px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.adaptive-star-container{
    position: absolute;
    height: 100px;
    width:100px;
    right: -25px;
}
.adaptive-star-img{
    height: 100%;
    width: 100%;
}

.adaptive-learn-star-container{
    position: absolute;
    top: -150px;
    left: 75px;
    height: 208px;
    width: 147px;
}
.adaptive-learn-star{
    height: 100%;
    width: 100%;
}

.adaptive-road-container{
    position:absolute;
    left:0%;
    top:15%;
    height:auto;
    width:100vw;
}

.adaptive-road-img{
    height:100%;
    width: 100%;

}


@media screen and (max-width: 710px) {
    .adaptive-learn{
        height: max-content;
    }
    .adaptive-learn-main{
        position: relative;
        right:0;
        top:0;
        margin-inline: 12px;
        margin-bottom: 20px;
    }
    .adaptive-learn-title{
        font-size: 28px;
        font-weight: 700;
    }
    .adaptive-learn-text{
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    .adaptive-star-container{
        display: none;
    }
    .adaptive-road-container{
        width: 100vw;
        height: auto;
        position: relative;
        left:0;
        top:0;
    }
    .adaptive-road-img{
        height:100%;
        width:100%;
    }
}