.skillrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 48px;
}

.skills {
  padding-bottom: 150px;
}

.fifth {
  background: linear-gradient(to bottom, #f0effa, #f6f5fe);
}

@media (max-width: 430px) {
  .skillrow {
    display: flex;
    flex-direction: column;
  }

  .skills {
    padding-bottom: 70px;
  }
}
