.about{
    height: 100svh;
    background-color: #071F4D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 64px;
}
.about-container{
    position: relative;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 160px;
}

.our-mission{
    font-size: 28px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.our-mission-mobile{
    display: none;
}

.about-main-container{
    position: relative;
}
.about-main-text{
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.about-main-text-mobile{
    display: none;
}

.about-main-img-container-one{
    position: absolute;
    top:-100px;
    left:-60px;
    height: 130px;
    width: 130px;
}
.about-main-img-container-two{
    position: absolute;
    bottom:-100px;
    right:-75px;
    height: 100px;
    width: 100px;
}
.about-main-img{
    height:100%;
    width:100%;
}

@media screen and (max-width: 768px){
    .our-mission{
        display: none;
    }
    .our-mission-mobile{
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        margin-inline: 12px;
        color: #ffffff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }

    .about-container{
        gap: 200px;
    }
    
    .about-main-text{
        display: none;
    }
    .about-main-text-mobile{
        display: block;
        margin-inline:12px;
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        color: #ffffff;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }

    .about-main-img-container-one{
        left:0px;
    }
    .about-main-img-container-two{
        right:0px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .about-main-img-container-one{
        left:0px;
    }
    .about-main-img-container-two{
        right:0px;
    }
}