.home{
    min-height: 679px;
    height: 100svh;
    background-image: url('./../../../public/Assets/home-background.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.home-heading{
    position: absolute;
    top:25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,1);
}
.home-main-heading-mobile{
    display: none;
}

.home-main-heading{
    font-size: 68px;
    width: 700;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.home-sub-heading{
    font-size: 32px;
    width: 700px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.home-foreground-container{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%,0);
    width: 900px;
    height: 350px;
    animation: foreground 0.5s linear;
}

@keyframes foreground{
    0%{
        transform: translate(-50%, 0) scale(1.2);
        transform-origin: bottom center; 
    }
    100%{
        transform: translate(-50%, 0) scale(1);
        transform-origin: bottom center;
    }
}



.home-foreground{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%,0);
    height: 90%;
    width:90%;
}

/* mobile */
@media screen and (max-width: 480px){
    .home{
        min-height: 0;
        height: 100svh;
        overflow-x: hidden;
    }
    .home-main-heading{
        display: none;
    }
    .home-main-heading-mobile{
        display: block;
        font-size: 36px;
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        width: 100vw;
        position: relative;
    }
    .home-main-heading-mobile-top{
        display: flex;
        justify-content:left;
        margin-left: 12px;
    }
    .home-main-heading-mobile-bottom{
        display: flex;
        justify-content:right;
        margin-right: 12px;
    }
    .home-sub-heading{
        width: 100vw;
        margin-top:64px;
        font-size: 18px;
    }
    .home-foreground-container{
        width:370px;
        height:160px;
    }
    .home-foreground{
        height: 120%;
        width: 120%;
    }
}
@media screen and (min-width: 481px) and (max-width:768px){
    .home-main-heading{
        font-size: 42px;
    }
    .home-foreground-container{
        width: 100vw;
    }
}
@media screen and (min-width:921px) and (max-width:1024px) {
    .home-main-heading{
        font-size: 56px;
    }
    .home-foreground-container{
        width: 100vw;
    }
}

