.backgroundshapes {
  position: absolute;
  top: 0px;
  z-index: -1;
  background: linear-gradient(to bottom, white, #e9f3fd);
  padding-right: 35px;
  background-size: cover;
  max-width: 97.25%;
  padding-bottom: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  position: relative;
  width: 100%;
}

@media (max-width: 430px) {
  .backgroundshapes {
    max-width: 100%;
    height: 650px;
    padding-right: 0px;
    overflow-x: hidden;
  }
}
