.fourth {
  background: linear-gradient(to bottom, #ebeffc, #f6f5fe);
}

.fourthreviewbox {
  position: relative;
  height: 1000px;
}

@media (max-width: 430px) {
  .fourthreviewbox {
    overflow: auto;
    width: 100%;
  }

  .marquee {
    animation: marquee-slide 5s linear infinite;
  }

  @keyframes marquee-slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
