.navbar{
    position: absolute;
    width:100%;
    top:0;
    height: 80px;
    background-color: rgba(7, 31, 77, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo-container{
    height:50px;
    width: 160px;
    margin-left: 50px;
}
.navbar-logo{
    height:100%;
    width:100%;
}
.navbar-logo:hover{
    cursor: pointer;
}

.navbar-free-trial{
    height:54px;
    width:136px;
    border-radius:100px;
    margin-right: 50px;
    background-color: #28CD88;
    color:#ffffff;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-free-trial:hover{
    cursor: pointer;
}