.hamburger-button {
  display: none;
}

.hamburger-line {
  width: 100%;
  height: 2px;
  background-color: #000;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 430px) {
  .hamburger-button {
    margin-right: 10px;
    display: block;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 30px;
    height: 20px;
    cursor: pointer;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}
