.testimonial{
    position: relative;
    min-height: 1000px;
    background-color: #071F4D;
}

.testimonial-marquee-container{
    width: 100%;
    padding-top: 64px;
}


.testimonial-button{
    height: 78px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #28CD88;
    color: #ffffff;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    bottom:96px;
}
.testimonial-button:hover{
    cursor: pointer;
}