@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap');

#num1{
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    background-color: #071F4D;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height:auto;
    background-size: cover;
    overflow: hidden;
    /* Top: 4251px;
    Left:271px; */
    /* padding-top: 32px; */
    /* border: 1px solid white; */
}
.number-one-img-container{
    height:650px;
    width: 700px;
    /* border: 1px solid white; */
}
#num1img{
    width: 100%;
    height: 100%;
    opacity: 100%;
}
#num1contentdiv{
    width: 60%;
    margin: 0 auto;
    height: auto;
}
#num1content{
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 400;
    /* line-height: 6vw; */
    text-align: center;
    color: #fff;
}
#spantxt{
    font-family: 'Inter';
    font-size:28px;
    /* line-height: 6vw */
    font-weight: 800;
    text-align: center;
    color:#28CD88;
}




@media only screen and (max-width: 710px) {
    #num1 {
        width: 100%;
        height: auto;
        /* top: 2423px; */
        /* left: -69px; */
        gap: 0px;
        opacity: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .number-one-img-container {
        height: 100vw;
        width: 100vw;
    }
    #num1img {
        height: 100%;
        width: 100%;
        /* margin: 25px; */
    }
    #num1contentdiv {
        width: 370px;
        height: auto;
        /* top: 534px;
        left: 75px; */
        gap: 0px;
        opacity: 0px;
        margin: 12px auto;
    }
    #num1content {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 500;
        line-height: 22.5px;
        text-align: center;
        color: #fff;
    }
    #spantxt {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 800;
        line-height: 22.5px;
        text-align: center;
        color: #28CD88;
    }
}
