.thirdbox {
  width: 331px;
  height: 321px;
  border-style: solid;
  border-width: 3.91px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.thirdboxtext {
  width: 260px;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 430px) {
  .thirdbox {
    margin-left: auto;
    margin-right: auto;
    height: 241px;
    width: 80%;
    background-color: white;
  }
}
